.About {
  padding-bottom: 7.5em;
}

.banner {
  padding: 3.75em 2em;
}

.banner--about {
  background: url('../assets/images/about-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main B */
.main__b--about {
  margin-top: 4.5em;
}

.pattern__four {
  bottom: 40px;
  left: 32px;
}

.pattern__five {
  top: 0;
  right: 32px;
}

/* Main C */
.main__c {
  padding: 0 2em;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5em;

  margin-top: 4em;
}

.card__img-container {
  position: relative;
}

.card__img-container img {
  margin: 0 auto;
  border-radius: 50%;
}

.card__num-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);

  background-color: var(--clr-yellow);
  border-radius: 50%;
  width: 96px;
  height: 96px;

  display: flex;
  place-content: center;
}

.card__number {
  align-self: center;
}

.card__copy-container {
  margin-top: 4em;
}

.card__copy-container .text {
  margin-top: 1.625em;
}

/* Main D */
.main__d {
  margin-top: 9em;

  padding: 0 2em;
}

.main__d .title--faq {
  margin-top: 2em;
}

.faq-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.faq-group__questions {
  /* width: 100%; */
}

.questions-list {
  list-style: none;
}

.questions-list li:not(:first-child) {
  margin-top: 1em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .title--md {
    margin: 0 auto;
  }

  /* Banner */
  .banner {
    padding: 4.5em 6em;
  }

  .banner .title {
    text-align: left;
  }

  .banner--about {
    background: url('../assets/patterns/white-circles.svg'),
      url('../assets/images/about-hero-tablet.jpg');

    background-position: bottom 68px right -31px, top left;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }

  /* Main about */
  .main--about::before {
    content: '';
    width: unset;
    height: unset;
    background: unset;
    position: absolute;
    top: 0;
    left: unset;
  }

  /* Main B */
  .main__b--about {
    margin-top: 9em;
    padding-bottom: 7.5em;
  }

  .pair__illus__four {
    background-position: top right -350px;
  }

  .pair__illus__five {
    background-position: top left -345px;
  }

  .pattern__five {
    top: 0;
    right: 419px;
  }

  /* Main C */

  .card__copy-container {
    margin-top: 5em;

    max-width: 457px;
  }

  /* Main D */
  .main__d .title--faq {
    margin-top: 1.6em;
  }

  .faq-group__questions {
    width: 100%;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  /* Banner */
  .banner {
    padding: 4.5em 10.3125em;
  }

  .banner--about {
    background: url('../assets/patterns/white-circles.svg'),
      url('../assets/images/about-hero-desktop.jpg');

    background-position: bottom 68px right -31px, top left;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }
}
