.About {
}

.banner {
  padding: 3.75em 2em;
}

.banner--about {
  background: url('../assets/images/about-hero-mobile.jpg');
}

/* Main B */
.main__b--about {
  margin-top: 4.5em;
}

.pattern__four {
  bottom: 40px;
  left: 32px;
}

.pattern__five {
  top: 0;
  right: 32px;
}

/* Main C */
.main__c {
  padding: 0 2em;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5em;

  margin-top: 4em;
  list-style: none;
}

.card__img-container {
  position: relative;
}

.card__img-container img {
  margin: 0 auto;
  border-radius: 50%;
}

.card__num-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);

  background-color: var(--clr-yellow);
  border-radius: 50%;
  width: 96px;
  height: 96px;

  display: flex;
  place-content: center;
}

.card__number {
  align-self: center;
}

.card__copy-container {
  margin-top: 4em;
}

.card__copy-container .text {
  margin-top: 1.625em;
}
