.Careers {
}

.banner--careers {
  background: url('../assets/images/careers-location-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main B */

.main-b--careers {
  margin-top: 4.5em;
}

.pattern__six {
  bottom: 0;
  left: 32px;
}

/* Main E */
.main__e {
  margin-top: 9em;
  padding: 0 2em 7.5em;
}

.jobs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.job-listing {
  background: var(--clr-snow);
  padding: 2.25em 2em 2em;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.job-listing .btn {
  width: 100%;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .banner--careers {
    background: url('../assets/patterns/white-circles.svg'),
      url('../assets/images/careers-locations-hero-tablet.jpg');

    background-position: bottom 68px right -31px, top left;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }

  /* Main careers */
  .main--careers::before {
    content: '';
    width: unset;
    height: unset;
    background: unset;
    position: absolute;
    top: 0;
    left: unset;
  }

  /* Main B */
  .main-b--careers {
    margin-top: 9em;
    padding-bottom: 7.5em;
  }

  .pair__illus__five {
    background-position: top left 673px;
  }

  .main-b--careers .main__b__pair {
    gap: 4em;
  }

  /* Main C */
  .card-list {
    margin-top: 6.5em;
  }

  /* Main E */
  .main__e {
    margin-top: 7.5em;
    padding: 0 2.5em 7.5em;
  }

  .job-listing {
    padding: 2em 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }

  .job-details {
    text-align: left;
  }

  .job-listing .btn {
    width: 180px;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .banner--careers {
    background: url('../assets/patterns/white-circles.svg'),
      url('../assets/images/careers-locations-hero-desktop.jpg');

    background-position: bottom 68px right -31px, top left;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }

  /* Main B */
  .main-b--careers {
    margin-top: 7.5em;
    padding-bottom: 7.5em;
  }

  .main-b--careers .main__b__pair {
    gap: unset;
  }

  .main-b--careers .pair__illus__five {
    order: 1;

    background-position: top left 620px;
  }

  .pattern__six {
    bottom: 0;
    left: 0px;
  }

  /* Main E */
  .main__e {
    margin-top: 7.5em;
    padding: 0 10.3125em 10em;
  }

  .jobs-list {
    gap: 1.5em;
  }
}
