.Footer {
}

.footer__main {
  padding: 5.5em 2em;

  background: var(--clr-dark-navy-bg);

  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 2.5em;

  position: relative;

  overflow: hidden;
}

.footer__main::before {
  content: '';
  position: absolute;
  bottom: -50%;
  left: -56%;
  background: url('../assets/patterns/semi-circles.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  transform: scale(1.1);
}

.footer__main::after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 56%;
  background: url('../assets/patterns/circle.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  transform: scale(1.1);

  opacity: 0.1;
}

.icons-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;

  z-index: 1;
}

.icon-footer {
  transform: scale(0.72);
  transform-origin: top left;
}

.icon-container-apple-store-icon {
  width: 113px;
  height: 40px;
}

.icon-container-google-icon {
  width: 131px;
  height: 40px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .Footer .title--footer {
    margin: 0 auto;
  }

  .footer__main::before {
    content: '';
    position: absolute;
    bottom: -57%;
    left: -32%;
    background: url('../assets/patterns/semi-circles.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    transform: scale(1.1);
  }

  .footer__main::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 584px;
    background: url('../assets/patterns/circle.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    transform: scale(1);

    opacity: 0.1;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .footer__main {
    padding: 6.375em 10.3125em;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }

  .Footer .title--footer {
    margin: unset;
    text-align: left;
  }

  .footer__main::before {
    content: '';
    position: absolute;
    bottom: -57%;
    left: 30%;
    background: url('../assets/patterns/semi-circles.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    transform: scale(1.1);
  }

  .footer__main::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 100%;
    background: unset;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    transform: scale(1);

    opacity: 0.1;
  }
}
