.Header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5em 2em;
}

/* This trick makes one element be at the 
corner and the other at the exact middle */
.Navigation,
.Header__logo-container {
  margin-right: auto;
}

.Header__logo-container {
  margin-bottom: -0.25em;
}

.Header__logo {
  transform: scale(0.7);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .Header {
    padding: 1.375em 2.5em;
    justify-content: flex-start;
    gap: 3.625em;
  }

  .Header__logo {
    transform: scale(1);
  }

  .Navigation,
  .Header__logo-container {
    margin-right: unset;
  }

  .Header__logo-container {
    order: -1;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .Header {
    padding: 1.375em 10.3125em;
  }
}
