.Header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5em 2em;
}

/* This trick makes one element be at the 
corner and the other at the exact middle */
.Navigation,
.Header__logo {
  margin-right: auto;
}

.Header__logo {
  transform: scale(0.7);
}
