.Home {
}

/* Hero */

.hero {
  background: url('../assets/patterns/right-arrow.svg'),
    url('../assets/images/home-hero-mobile.jpg');

  background-position: bottom 30px left -315px, top left;
  background-repeat: no-repeat;

  padding: 7.1875em 2em 11.1875em;
  margin: 0 auto;
}

.hero__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.hero__copy .btn {
  margin-top: 0.625em;
}

/* Main A */

.main__a {
  padding: 5.2em 2em 7.15em;
}

.main__a__el {
  margin-top: 1.5em;
}

.Home__icon {
  transform: scale(0.6);
}

.main__a__el .text {
  margin-top: 1.5em;
}

/* Main B */
.main__b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5em;

  padding-bottom: 7.5em;
}

.main__b__pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
}

.pair__copy,
.pair__illus {
  padding: 0 2em;
}

.pair__illus {
  position: relative;

  order: -1;
  overflow: hidden;
}

.pair__illus img {
  border-radius: 50%;
}

.pair__illus .pattern {
  position: absolute;
}

.pattern__one {
  bottom: 0;
  left: 0;
}

.pattern__two {
  top: 0;
  right: 80px;
}

.pair__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
