.Home {
}

/* Hero */

.hero {
  background: url('../assets/patterns/right-arrow.svg'),
    url('../assets/images/home-hero-mobile.jpg');

  background-position: bottom 30px left -315px, top left;
  background-repeat: no-repeat;
  background-size: auto, cover;

  padding: 7.1875em 2em 11.1875em;
  margin: 0 auto;
}

.hero__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.hero__copy .btn {
  margin-top: 0.625em;
}

/* Main A */

.main__a {
  padding: 5.2em 2em 7.15em;
}

.main__a__el:not(:first-child) {
  margin-top: 1.5em;
}

.main__a__el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home__icon {
  transform: scale(0.6);
}

.main__a__el .text {
  margin-top: 1.5em;
}

/* Main B */
.main__b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5em;

  padding-bottom: 7.5em;
}

.main__b__pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
}

.pair__copy,
.pair__illus {
  padding: 0 2em;
}

.pair__illus {
  position: relative;

  order: -1;
  overflow: hidden;
}

.pair__illus img {
  border-radius: 50%;
}

.pair__illus .pattern {
  position: absolute;
}

.pattern__one {
  bottom: 0;
  left: 0;
}

.pattern__two {
  top: 0;
  right: 80px;
}

.pair__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  /* Hero */
  .hero {
    background: url('../assets/patterns/right-arrow.svg'),
      url('../assets/patterns/white-circles.svg'),
      url('../assets/images/home-hero-tablet.jpg');

    background-position: bottom 40px left -130px, bottom 40px right -35px, top left;
    background-repeat: no-repeat;
    background-size: auto, auto, cover;

    padding: 8.5em 6.125em 13.5em;
  }

  .main {
    position: relative;
  }
  .main::before {
    content: '';
    width: 15px;
    height: 500px;
    background: var(--clr-light-grey);
    position: absolute;
    top: 0;
    left: 140px;
  }

  /* Main A */
  .main__a {
    padding: 7.625em 6.125em 9.0625em;
  }

  .main__a__el:not(:first-child) {
    margin-top: 2.5em;
  }

  .main__a__el {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4.875em;
  }

  .Home__icon {
    transform: scale(1);
  }

  .main__a__el__copy {
    text-align: left;
  }

  .main__a__el__copy .text {
    margin-top: 1.625em;
  }
}
