.Locations {
}

.main__f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5em;

  margin-top: 4.5em;

  padding: 0 2em 4.5em;
}

.main__f__world {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.mobile-map-cities-list {
  width: 100%;
}

.city:not(:first-child) {
  margin-top: 1em;
}

.main__f__copy {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 2em;
}
