.Locations {
}

.main__f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5em;

  margin-top: 4.5em;

  padding: 0 2em 4.5em;
}

.main__f__world {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.world-map--tablet,
.world-map--desktop {
  display: none;
}

.mobile-map-cities-list {
  width: 100%;
}

.city:not(:first-child) {
  margin-top: 1em;
}

.main__f__copy {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 2em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .main__f {
    margin-top: 8.75em;
    padding: 0 2.5em 7.5em;
  }

  .main--locations::before {
    content: '';
    width: unset;
    height: unset;
    background: unset;
    position: absolute;
    top: 0;
    left: unset;
  }

  .main__f__world {
    position: relative;
  }

  .world-map--mobile {
    display: none;
  }

  .world-map--tablet {
    display: block;
  }

  .city {
    width: 120px;
    position: absolute;
  }

  .city::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--clr-yellow);

    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  #ny-in-map {
    top: 50px;
    left: 100px;
  }

  #london-in-map {
    top: 5px;
    left: 245px;
  }

  #yokohama-in-map {
    top: 50px;
    left: 530px;
  }

  #jakarta-in-map {
    top: 150px;
    left: 470px;
  }

  .main__f__copy {
    gap: 2.5em;

    max-width: 575px;

    align-items: center;
  }
}
