.Navigation {
}

/* NOTE: Navigation component has several shapes
and layouts depending on it's placement inside 
different components
*/

/* Header styles */
.Navigation__header-wrapper {
  cursor: pointer;
  padding-top: 0.45em;
}

.nav-tablet,
.nav__btn {
  display: none;
}

/* Footer styles */
.Navigation__footer-wrapper {
  background-color: var(--clr-darker-grey-bg);
  margin: 0 auto;
  padding: 4em 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navigation__logo path {
  fill: var(--clr-white-text);
}

.nav-footer {
  margin-top: 2.5em;
}

.nav-footer ul li:not(:first-child) {
  margin-top: 1em;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75em;

  margin-top: 5.45em;
}

.social-item a {
  display: inline-block;
}
.social-item a:hover path,
.social-item a:focus path {
  fill: var(--clr-light-grey);
}

.social-icon {
  cursor: pointer;
  transform: scale(1.1);
}

/* Modal styles */
.Navigation.Navigation--modal {
  position: absolute;
  width: 70%;
  height: calc(100vh - 81.85px);
  background: var(--clr-darker-grey-bg);
  z-index: 10;

  padding: 4em 2em 1.5em;
}

.Navigation--modal nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
}

.Navigation--modal ul {
  text-align: left;
}

.Navigation--modal ul li:not(:first-child) {
  margin-top: 1.5em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  /* Footer styles */
  .Navigation__footer-wrapper {
    padding: 2em 2.375em 2em;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3.6em;
  }

  .nav-footer {
    margin-top: unset;
  }

  .nav-footer ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
  }

  .nav-footer ul li:not(:first-child) {
    margin-top: unset;
  }

  .socials-list {
    align-items: baseline;

    margin-top: unset;
    margin-left: auto;
  }

  /* Tablet styles */
  .Navigation {
    width: 100%;
  }

  .Navigation__header-wrapper {
    display: none;
  }

  .nav-tablet,
  .nav__btn {
    display: block;
  }

  .nav-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-tablet ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}
