@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Lexend Deca', sans-serif;
  --ff-secondary: 'Space Mono', monospace;

  /* --fw-light: 300; */
  --fw-regular: 400;
  /* --fw-medium: 500; */
  /* --fw-semi-bold: 600; */
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Text */
  --clr-white-text: hsla(0, 0%, 100%, 1);
  --clr-dark-navy-text: hsl(216, 17%, 35%);
  --clr-dim-grey-text: hsla(217, 12%, 62%, 1);
  --clr-yellow-text: hsla(40, 97%, 58%);

  /* Background  */
  --clr-white-bg: hsla(0, 0%, 100%, 1);

  /* Others */
  --clr-yellow: hsla(40, 97%, 58%);
  --clr-light-yellow: hsla(39, 100%, 94%, 1);
  --clr-light-grey: hsla(213, 40%, 93%, 1);
  --clr-snow: hsla(214, 37%, 96%, 1);
  --clr-dark-navy-bg: hsl(216, 17%, 35%);
  --clr-darker-grey-bg: hsla(215, 14%, 23%, 1);
  --clr-black-bg: hsla(0, 0%, 0%, 1);
}

body {
  background: var(--clr-white-bg);

  color: var(--clr-dim-grey-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.666;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-40);
  color: var(--clr-white-text);
  font-weight: var(--fw-bold);
  letter-spacing: -1.79px;
  line-height: 1;
}

.title--sm,
.title--normal,
.title--md {
  color: var(--clr-dark-navy-text);
}

.title--md {
  font-size: var(--fs-32);
  letter-spacing: -1.43px;
}

.title--normal {
  font-size: var(--fs-24);
  letter-spacing: -1.07px;
}

.title--sm {
  font-size: var(--fs-20);
  letter-spacing: -0.89px;
}

.title--footer {
  color: var(--clr-white-text);
}

.text {
  font-size: var(--fs-15);
  color: var(--clr-white-text);
}

.text--alt {
  color: var(--clr-dim-grey-text);
}

.card__number {
  font-family: var(--ff-secondary);
  font-size: var(--fs-24);
  letter-spacing: -1.07px;
  font-weight: var(--fw-bold);
  color: var(--clr-dark-navy-text);
}

.q-and-a__question {
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
  letter-spacing: 0.8px;
  color: var(--clr-dark-navy-text);
}

.q-and-a__answer {
  font-size: var(--fs-15);
  color: var(--clr-dark-navy-text);
  font-family: var(--ff-main);
  line-height: 1.666;
}

.job-position {
  font-size: var(--fs-18);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-navy-text);
  letter-spacing: -0.8px;
}

.job-location {
  color: var(--clr-dark-navy-text);
  font-size: var(--fs-15);
}

.city {
  color: var(--clr-dark-navy-text);
  font-size: var(--fs-24);
  padding: 0.65em 2em;
  background: var(--clr-light-yellow);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
}

/* ======================== */
/* Links, buttons & inputs  */
/* ======================== */

.btn {
  display: inline-block;

  font-size: var(--fs-15);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-white-text);
  background-color: var(--clr-yellow);
  border: 3px solid var(--clr-yellow);

  text-decoration: none;

  padding: 0.75em 2.4em;

  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: var(--clr-yellow);
  background-color: transparent;
}

.NavLink {
  color: var(--clr-dim-grey-text);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.NavLink:hover,
.NavLink:focus {
  color: var(--clr-yellow);
}

.Navigation.Navigation--modal .NavLink {
  color: var(--clr-white-text);
  font-size: var(--fs-18);
}
